@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="wrapper wrp-logos">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center align-self-center client-logo-inner">
                <div class="owl-carousel owl-theme owl-loaded">
                                                    
                                                                
                                                                
                                                                
                                                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1110px;"><div class="owl-item active" style="width: 277.5px;"><div class="item">
                                    <a onclick="redirect_to_other('https://farowealth.com/')" data-link="https://farowealth.com/" href="javascript:void(0)" data-toggle="modal" data-target="#myModal" title="https://farowealth.com/">
                                        <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/faro_new_BW_logo.png" alt="">
                                    </a>
                                </div></div><div class="owl-item active" style="width: 277.5px;"><div class="item">
                                    <a onclick="redirect_to_other('https://beacononline.com/')" data-link="https://beacononline.com/" href="javascript:void(0)" data-toggle="modal" data-target="#myModal" title="https://beacononline.com/">
                                        <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/beacon_insurance.jpg" alt="">
                                    </a>
                                </div></div><div class="owl-item active" style="width: 277.5px;"><div class="item">
                                    <a onclick="redirect_to_other('https://farofx.com/')" data-link="https://farofx.com/" href="javascript:void(0)" data-toggle="modal" data-target="#myModal" title="https://farofx.com/">
                                        <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/faro_fx.jpg" alt="">
                                    </a>
                                </div></div><div class="owl-item active" style="width: 277.5px;"><div class="item">
                                    <a onclick="redirect_to_other('https://farofactoring.com/')" data-link="https://farofactoring.com/" href="javascript:void(0)" data-toggle="modal" data-target="#myModal" title="https://farofactoring.com/">
                                        <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/farofactoring.png" alt="">
                                    </a>
                                </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="wrapper wrp-footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                            <a class="footer-logo" href="/home" title="FARO Factoring">
                            <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/Vector-Smart-Object3.png" alt="" title="Vector Smart Object(3)">
                        </a>
                                    </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="footer-inner-sec">
                                                <ul id="menu-footer-menu" class=""><li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50"><a href="/home">@Model.Value("header1")</a></li>
<li id="menu-item-51" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-12 current_page_item menu-item-51 active "><a href="/home2" aria-current="page">@Model.Value("header2")</a></li>
<li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52"><a href="/contactus">@Model.Value("header3")</a></li>
</ul>                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrp-credit">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 align-self-center copyright-text">
               <p>© @Model.Value("copyRightTitle"). All Rights Reserved.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 align-self-center webby">
               <p>@Model.Value("role") </p>
            </div>
         </div>
      </div>
   </div>
</footer>