@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="wrapper wrp-operate">
        <div class="container">
            <div class="row">
                                    <div class="col-12 text-center operate-title">
                        <h2>How We Operate</h2>
                    </div>
                            </div>
            <div class="row justify-content-center">
                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center">
                                <div class="outer-operate">
                                    <span>@Model.Value("step1Title")</span>
                                    <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/Vector-Smart-Object4.png" alt="" title="Deliver your shipment">
                                    <h2>@Model.Value("step1Subtitle")</h2>
                                </div>
                            </div>
                                                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center">
                                <div class="outer-operate">
                                    <span>@Model.Value("step2Title")</span>
                                    <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/Vector-Smart-Object5.png" alt="" title="SUBMIT YOUR PAPERWORK">
                                    <h2>@Model.Value("step2Subtitle")</h2>
                                </div>
                            </div>
                                                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center">
                                <div class="outer-operate">
                                    <span>@Model.Value("step3Title")</span>
                                    <img src="https://gibsonads.com/gibsondevelopment/faro-factoring/wp-content/uploads/2021/06/Vector-Smart-Object6.png" alt="" title="GET PAID FAST">
                                    <h2>@Model.Value("step3Subtitle")</h2>
                                </div>
                            </div>
                                        </div>
        </div>
    </div>